{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Jardín S.A- Home</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body { font-family: 'Inter', sans-serif; }
        .lm-green { background-color: #6a760c; }
        .lm-text-green { color: #6a760c; }
        .lm-text-black { color: #000000; } /* Definición de clase para el ícono del menú */
        .lm-white { background-color: #ffffff; }

        /* --- Estilos clave para el Carrusel --- */
        #product-carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
            flex-wrap: nowrap;
        }
        .slide-item {
            min-width: 100%;
            flex-shrink: 0;
        }
        .carousel-container {
            overflow: hidden;
            position: relative;
        }
        .shadow-hard-halo {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        /* --- Estilos de Navegación de Puntos del Carrusel --- */
        .dot-nav {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #d1d5db;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }
        .dot-nav--current {
            background-color: #6a760c;
            transform: scale(1.2);
        }
    </style>
</head>
<body class="bg-gray-50">

    <header class="border-b border-gray-200 sticky top-0 z-50 bg-white">
        <div class="bg-[#fff6e4] border-b border-gray-200">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center justify-between">
                
                <a href ="{% url 'home' %}" class="flex items-center text-2xl font-extrabold lm-text-green tracking-tight flex-shrink-0 mr-5">
                    <img src="{% static 'loga.png' %}" 
                        alt="Logo Mundo Jardín" 
                        class="h-20 w-20 mr-3 rounded-full">
                    Mundo Jardín S.A
                </a>
                <a class="flex flex-col items-center flex-shrink-0 text-[#6a760c] ">
                    <img src="{% static 'i1.png' %}" 
                        alt="Logo ubicacion" 
                        class="h-7 w-7 mb-1 rounded-full">
                    
                    <span class="text-xs">Sevilla</span>
                </a>

                <div class="hidden lg:block flex-grow mx-5 max-w-2xl">
    <form action="{% url 'buscar' %}" method="GET" class="relative">
        <input type="search" 
               name="q" 
               id="q"
               placeholder="Buscar productos, fabricantes, secciones, categorías..." 
               class="w-full py-3 pl-4 pr-12 border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500 shadow-sm">
        
        <button type="submit" 
                class="absolute right-0 top-0 h-full w-12 flex items-center justify-center text-white rounded-r-lg lm-green hover:bg-[#bf7149] transition">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>
        </button>
    </form>
</div>

                <div class="flex items-center space-x-6">
                    {% if user.is_authenticated %}
                    <a href="{% url 'perfil:mi_perfil' %}"
                             class="flex flex-col items-center text-[#6a760c] hover:text-[#bf7149] transition hidden sm:flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/></svg>
                        <span class="text-xs">Mi Perfil</span>
                       </a>     
                            
                            
                     {% else %}
                     <a href="{% url 'perfil:mi_perfil' %}"
                             class="flex flex-col items-center text-[#6a760c] hover:text-[#bf7149] transition hidden sm:flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/></svg>
                        <span class="text-xs">Iniciar Sesión</span>
                            
                    </a>
                    {% endif %}

                    {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'adminpanel:adminpanel_index' %}" 
                    class="flex flex-col items-center text-[#6a760c] hover:text-[#bf7149] transition hidden sm:flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M3 3h7v7H3V3zM14 3h7v4h-7V3zM14 9h7v4h-7V9zM3 12h7v9H3v-9zM14 15h7v6h-7v-6z"/>
                        </svg>
                        <span class="text-xs">Gestión</span>
                    </a>
                    {% endif %}

                     <a href="#" class="flex flex-col items-center text-[#6a760c] hover:text-[#bf7149] transition relative">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/></svg>
                        <span class="text-xs">Carrito</span>
                        <span class="absolute -top-1 -right-1 bg-red-600 text-white text-xs font-bold rounded-full h-4 w-4 flex items-center justify-center">
                            3
                        </span>
                    </a>
                </div>
            
                </div>
            </div>
        </div>

        <div class="lm-white hidden lg:block shadow-inner">
            <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <ul class="flex justify-between w-full"> 
                    
                    <div class="flex space-x-8"> 
                        <li class="group relative">
                            <a href="#" class="flex items-center py-3 px-3 transition border-b-2 border-transparent hover:border-[#6a760c] ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 lm-text-black mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                                </svg>
                                <span class="text-black ">PRODUCTOS</span>
                            </a>
                            
                            <ul class="absolute z-10 hidden group-hover:block w-96 bg-white border border-gray-200 shadow-lg rounded-md mt-0">
                                
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-herramientas" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span> 🛠️ HERRMIENTAS MANUALES</span>
                                        </a>
                                        
                                        <ul id="submenu-herramientas" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            <li>
                                                <a href="/subcategorias/CORTE_Y_PODA" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>CORTE Y PODA</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/LABRANZA_Y_PLANTACION" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>LABRANZA Y PLANTACIÓN</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/RIEGO_MANUAL" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>RIEGO MANUAL</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-maquinaria" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span>  🚜 MAQUINARIA DE JARDÍN</span>
                                        </a>
                                        
                                        <ul id="submenu-maquinaria" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            <li>
                                                <a href="/subcategorias/CORTACESPEDES_Y_DESTROZADORAS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>CORTACESPEDES Y DESTROZADORAS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/CORTASETOS_Y_MOTOSIERRAS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>CORTASETOS Y MOTOSIERRAS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/SOPLADORES_Y_TRITURADORES" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>SOPLADORES Y TRITURADORES</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-RIEGO" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span>  💧 RIEGO</span>
                                        </a>
                                        
                                        <ul id="submenu-RIEGO" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            <li>
                                                <a href="/subcategorias/MANGUERAS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>MANGUERAS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/RIEGO_AUTOMATICO" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>RIEGO AUTOMÁTICO</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-CULTIVO" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span> 🌱 CULTIVO Y HUERTO</span>
                                        </a>
                                        
                                        <ul id="submenu-CULTIVO" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            <li>
                                                <a href="/subcategorias/ABONOS_Y_SUBTRATOS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>ABONOS Y SUBTRATOS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/MACETAS_E_INVERNADEROS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>MACETAS E INVERNADEROS</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-PROTECCION" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span> 🦺 PROTECCIÓN Y SEGURIDAD</span>
                                        </a>
                                        
                                        <ul id="submenu-PROTECCION" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            <li>
                                                <a href="/subcategorias/GAFAS_Y_CASCOS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>GAFAS Y CASCOS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/GUANTES_Y_ROPA_PROTECCION" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>GUANTES Y ROPA DE PROTECCIÓN</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-ACCESORIOS" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span> ⚙️ ACCESORIOS Y REPUESTOS</span>
                                        </a>
                                        
                                        <ul id="submenu-ACCESORIOS" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            <li>
                                                <a href="/subcategorias/BATERIAS_Y_CARGADORES" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>BATERÍAS Y CARGADORES</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/CUCHILLAS_Y_CADENAS" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>CUCHILLAS Y CADENAS</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="relative">
                                        
                                        <a href="#" id="toggle-JARDIN" 
                                           class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 
                                                  border-b border-gray-300 last:border-b-0 relative 
                                                  hover:bg-gray-100 hover:text-[#6a760c] transition duration-150 group">
                                            
                                            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-[#6a760c] transition-colors"></span>
                                            
                                            <span> 🌻JARDÍN Y EXTERIOR</span>
                                        </a>
                                        
                                        <ul id="submenu-JARDIN" class="absolute z-20 hidden top-0 left-full w-80 bg-white border border-gray-200 shadow-lg rounded-md ml-1">
                                            
                                            <li>
                                                <a href="/subcategorias/ILUMINACION_EXTERIOR" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>ILUMINACIÓN DE EXTERIORES</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/subcategorias/MUEBLES_Y_DECORACION" 
                                                   class="flex items-center space-x-4 px-4 py-3 text-base text-gray-800 border-b border-gray-300 last:border-b-0 relative hover:bg-gray-100 hover:text-[#6a760c] transition duration-150">
                                                    <span class="absolute left-0 top-0 h-full w-1 bg-transparent hover:bg-[#6a760c] transition-colors"></span>
                                                    <span>MUEBLES Y DECORACIÓN</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </li>
                    </div>
                    
                    <div class="flex">
                        <li class="group relative">
                            <a href="{% url 'info_tienda:info_tienda' %}"  class="block py-3 px-2 text-gray-900 transition border-b-2 border-transparent hover:border-[#6a760c] rounded-sm">SOBRE MUNDO JARDÍN S.A</a>
                        </li>
                    </div>
                    
                </ul>
            </nav>
        </div>
    </header>
    <div class="bg-gray-100 py-3 border-b border-gray-200">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="flex items-center space-x-2">
                    <li>
                        <a href="{% url 'home' %}" class="text- font-medium text-gray-500 hover:text-[#bf7149]">
                            INICIO
                        </a>
                    </li>
                    
                    {% block breadcrumbs %}
                        {% endblock breadcrumbs %}
                </ol>
            </nav>
        </div>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock content %}
    </div>
    
    <footer class="bg-gray-800 text-white mt-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 text-center text-sm">
            © 2025 Mundo Jardín S.A
        </div>
    </footer>

    
{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Seleccionamos todos los botones que inician un submenú (toggle-herramientas, toggle-maquinaria)
            const toggleButtons = document.querySelectorAll('[id^="toggle-"]');
            
            toggleButtons.forEach(button => {
                // Genera el ID del submenú correspondiente (submenu-herramientas, submenu-maquinaria)
                const submenuId = button.id.replace('toggle-', 'submenu-');
                const submenu = document.getElementById(submenuId);

                if (button && submenu) {
                    button.addEventListener('click', function(e) {
                        e.preventDefault(); 
                        
                        // Ocultar todos los demás submenús abiertos
                        document.querySelectorAll('[id^="submenu-"]').forEach(sub => {
                            if (sub.id !== submenuId) {
                                sub.classList.add('hidden');
                            }
                        });
                        
                        // Alternar la visibilidad del submenú actual
                        submenu.classList.toggle('hidden');
                    });
                }
            });
            
            // Cierra el submenú si se hace clic en cualquier otro lugar de la página
            document.addEventListener('click', function(e) {
                let clickedInsideMenu = false;
                // Verifica si el clic ocurrió dentro de cualquier botón o submenú
                document.querySelectorAll('[id^="toggle-"], [id^="submenu-"]').forEach(elem => {
                    // Usamos .closest() para manejar clics dentro del submenú o botón mismo.
                    if (e.target.closest('[id^="toggle-"]') || e.target.closest('[id^="submenu-"]')) {
                        clickedInsideMenu = true;
                    }
                });
                
                if (!clickedInsideMenu) {
                    // Oculta todos los submenús
                    document.querySelectorAll('[id^="submenu-"]').forEach(sub => {
                        sub.classList.add('hidden');
                    });
                }
            });
        });
    </script>
    {% endblock extra_js %}
</body>
</html>