{% extends 'base_admin.html' %} 

{% block title %}Inicio - Panel de Administración{% endblock %}

{% block content %}
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-left">
        ¿Qué quieres hacer?
    </h2>
    <hr classs="mb-8"> 
    
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4"> 

        <div class="bg-white rounded-xl shadow-md p-6 border border-gray-100 hover:shadow-xl transition">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-xl font-semibold text-gray-800">Gestión de Productos</h3>
                <span class="text-2xl">🪴</span>
            </div>
            <p class="text-gray-600 mb-4">Edita la ficha de tus productos.</p>
            <a href="{% url 'lista_productos' %}" 
               class="inline-block bg-[#6a760c] text-white px-5 py-2 rounded-lg hover:bg-[#bf7149] transition font-medium">
                Ir a Productos →
            </a>
        </div>

        <div class="bg-white rounded-xl shadow-md p-6 border border-gray-100 hover:shadow-xl transition">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-xl font-semibold text-gray-800">Gestión de Ventas</h3>
                <span class="text-2xl">💰</span>
            </div>
            <p class="text-gray-600 mb-4">Accede al historial y control de ventas y estadísticas.</p>
            <a href="{% url 'ventas_admin_index' %}" 
               class="inline-block bg-[#6a760c] text-white px-5 py-2 rounded-lg hover:bg-[#bf7149] transition font-medium">
                Ir a Ventas →
            </a>
        </div>

        <div class="bg-white rounded-xl shadow-md p-6 border border-gray-100 hover:shadow-xl transition">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-xl font-semibold text-gray-800">Gestión de Pedidos</h3>
                <span class="text-2xl">📦</span>
            </div>
            <p class="text-gray-600 mb-4">Accede al registro y estado de todos los pedidos.</p>
            <a href="{% url 'lista_pedidos' %}" 
                class="inline-block bg-[#6a760c] text-white px-5 py-2 rounded-lg hover:bg-[#bf7149] transition font-medium">
                Ir a Pedidos →
            </a>
        </div>

        <div class="bg-white rounded-xl shadow-md p-6 border border-gray-100 hover:shadow-xl transition">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-xl font-semibold text-gray-800">Gestión de Usuarios</h3>
                <span class="text-2xl">👤</span>
            </div>
            <p class="text-gray-600 mb-4">Administra las cuentas de clientes y empleados.</p>
            <a href="{% url 'clientes_admin_index' %}"  
               class="inline-block bg-[#6a760c] text-white px-5 py-2 rounded-lg hover:bg-[#bf7149] transition font-medium">
                Ir a Usuarios →
            </a>
        </div>
    </div>
{% endblock %}